@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4"><b>About Us</b></h1>
    <p>Founded by visionary entrepreneur James Khumalo, Khumalo Craft Enterprises is a global platform to connect you with your favourite artisans. </p>
    <p>At Khumalo Craft Enterprises, we strive to create a culturally rich arts and crafts marketplace accessible from anywhere in the world </p>
    <img src="~/Images/publicprofile_facebookad_aa2018.jpg" alt="stock image"
    width="300"
    height="250"/>
    <img src="~/Images/why-people-buy-art.jpg" alt="stock image"
    width="350"
    height="250"
    />
</div>