@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <h1 class="display-4"><b>Contact Us</b></h1>
    <p>To place a pre-order please contact us at orderplacement@khumalocraft.co.za</p>
</div>
