@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">KhumaloCraft</h1>
    <p>Insert sample text idk.</p>
    <img src="Images/cat.jpg" alt="sampleimage" 
        width="400 "
        height="350"/>
</div>
