@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Khumalo Craft</b></h1>
    <p>Connecting you to art.</p>
    <img src="/Images/exhibition_banner_1.jpg" alt="sampleimage"
         width="850 "
         height="440" />
</div>
