@{
    ViewData["Title"] = "Works";
}


<div class="text-center">
    <h1 class="display-4"><b>Works</b></h1>
    <p>Current collection of works available for pre-order. For more info please click <a href="/Home/Contact">here</a> </p>
</div>

<div class="product">
    <h2>Decorative Sculpture by John Doe</h2>
    <img src="https://m.media-amazon.com/images/I/81xxoug5MiL.__AC_SX300_SY300_QL70_FMwebp_.jpg" alt="Picture of Sculpture">
    <div>
        <h4>Price: R1400</h4>
    </div>
</div>

<div class="product">
    <h2>Handmade Bag by Jane Doe</h2>
    <img src="https://www.freestylesa.co.za/cdn/shop/products/paige-shopper-bag-551540.jpg?v=1654609587" alt="Picture of Bag" width="180">
    <div>
        <h4>Price: R200</h4>
    </div>

    <div class="product">
        <h2>Sunny Painting by Dohn Joe</h2>
        <img src="https://www.mybestcanvas.com/46716/sunny-summer-landscape.jpg" alt="Picture of Painting" width="180">
        <div>
            <h4>Price: R5000</h4>
        </div>
    </div>

