@model ST10269809_POE.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<body>
    <form action="/Login/Login" method="post">
        <p>Please enter login details:</p>
        <p>If you don't have an account <a href=@Url.Action("SignUp", "User")>Sign Up</a> for a new account.</p>
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="email" placeholder="example@gmail.com" required>
        <button type="submit">Submit</button>
    </form>

</body>       